@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button_text {
    font-family: "Lobster";
    font-size: 150%;
}

.lazyTittle{
    padding-top: 2em;
    text-align: center;
    font-family: 'Lobster';
    font-size: 4em; 
}

.lazzyCat{
    text-align: center;
    font-family: 'Lobster';
    font-size: 10em; 
    color: indigo;
}

.lazyText{
    text-align: center;
    font-family: 'Lobster';
    font-size: 2em; 

}


.links {
    color: grey;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.my_containers {
    padding-bottom: 60px;
    padding-top: 15px;
    padding-left: 80px;
}
.my_containers2 {
    padding-top: 60px;
    padding-left: 80px;
}
.content_title {
    padding-top: 35px;
    padding-left: 80px;
}

.text_description {
    font-family: "Poppins";
    font-size: 20px;
}
.products {
    border: 1px solid #333;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 265px;
    text-align: center;
}
.catalog_container {
    padding-left: 28%;
    font-size: 2em;
    font-family: "Montserrat";
}
.catalog_tittle {
    font-family: "Righteous";
    font-size: 3em;
    padding-top: 5%;
    text-align: center;
}
.warning {
    background-color: khaki;
}
.text_table_info {
    text-align: center;
    font-family: "Lato";
    font-size: 2em;
}
.maintxt {
    font-family: "Lato";
    font-size: 1.7em;
}
.mainSubText {
    font-family: "Open Sans";
    font-size: 1.4em;
    text-align: center;
}

.text_table_bill {
    text-align: center;
    font-family: "Lato";
    font-size: 1.7em;
}
.my_images {
    width: 6em;
    height: 6em;
}
.my_images_index {
    width: 9em;
    height: 9em;
}
.my_images_show {
    width: 100%;
    height: 100%;
}

.text_table_inbill {
    text-align: center;
    font-family: "Poppins";
    font-size: 1.7em;
}
.text_table {
    text-align: center;
    font-family: "Poppins";
    font-weight: bold;
}

.tittle {
    text-align: left;
    font-family: "Poppins";
    font-weight: bold;
}
.star {
    color: orange;
}
.items-rows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.basic_text {
    font-family: "Open Sans";
}
.price_before {
    text-decoration: line-through;
    font-family: "Open Sans";
}
.btn_pay {
    width: 100%;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}
.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}
